.main-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.sub-section{
    /* position: relative; */
    background-color: #000;
    opacity: 0.8;
}
